<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="styles/main-style.css">
</head>

<body>
    <nav class="justify-content align-center">
        <div>
            {{#if session.user}}
            <ul class="justify-content">
                <li><a href="/projects">Projects</a></li>
                <li><a href="/tasks">Tasks</a></li>
            </ul>
            {{else}}
            <ul class="justify-content">
                <li><a href="/contact">Contact Us</a></li> <!--Implement this route-->
            </ul>
            {{/if}}

        </div>
        <a href="/">
            <div class="justify-content align-center">
                <img id="logo" src="logo.png">
                <h1>TopManager</h1>
            </div>
        </a>
        <div>

            {{#if session.user}}
            <div class="dropdown" tabindex="0">
                <ul class="justify-content align-center ">
                    <li id="username">{{session.user.username}}</li>
                    <img id="avatar" src="avatar.png">
                    <hr style="background-color: black;">
                </ul>
                <ul class="dropdown-content">
                    <li><a href="/account">My Account</a></li>
                    <li>
                        <hr class="hr">
                    </li>
                    <li><a href="/contact">Contact Us</a></li> <!--Implement this route-->
                    <li>
                        <hr class="hr">
                    </li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                </ul>
            </div>
            {{else}}
            <ul>
                <li><button href="/login">Login</button></li>
                <li><a href="/signup">Sign Up</a></li> <!--Update this route-->
            </ul>

            {{/if}}


        </div>
    </nav>

    <div class="container">
        {{{body}}}
    </div>

    <script>
        const dropdown = document.getElementsByClassName("dropdown")[0];
        const dropdownContent = document.getElementsByClassName("dropdown-content")[0];
        
        dropdown.addEventListener("focus", function () {
            dropdownContent.style.display = "block";
        });
        dropdown.addEventListener("blur", function () {
            dropdownContent.style.display = "none";
        });
    </script>

</body>

</html>