<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/main-style.css" media="all">
</head>

<body>
    <nav class="justify-space-between align-center">
        <div>
            {{#if session.user}}
            <ul class="justify-space-between">
                <li><a href="/projects">Projects</a></li>
                <li><a href="/tasks">Tasks</a></li>
            </ul>
            {{else}}
            <ul class="justify-space-between">
                <li><a href="/contact">Contact Us</a></li> <!--Implement this route-->
            </ul>
            {{/if}}

        </div>
        <a href="/">
            <div class="justify-space-between align-center">
                <img id="logo" src="/logo.png">
                <h1>TopManager</h1>
            </div>
        </a>
        <div>

            {{#if session.user}}
            <div class="dropdown" tabindex="0">
                <ul class="justify-space-between align-center cursor-pointer">
                    <li id="username">{{session.user.username}}</li>
                    <img id="avatar" src="/avatar.png">
                </ul>
                <ul class="dropdown-content cursor-pointer">
                    <li id="account" class="grow-on-hover">My Account</li>
                    <li>
                        <hr class="hr">
                    </li>
                    <li id="contact" class="grow-on-hover">Contact Us</li> <!--Implement this route-->
                    <li>
                        <hr class="hr">
                    </li>
                    <li id="logout" class="grow-on-hover">Logout</li>
                </ul>
                </ul>
            </div>
            {{else}}
            <ul class="justify-space-between align-center">
                <a href="/login">
                    <li id="login-button">Login</li>
                </a>
                <li><a href="/signup">Sign Up</a></li> <!--Update this route-->
            </ul>

            {{/if}}


        </div>
    </nav>

    {{{body}}}

    <script>
        const dropdown = document.getElementsByClassName("dropdown")[0];
        const dropdownContent = document.getElementsByClassName("dropdown-content")[0];
        const account = document.getElementById("account");
        const contact = document.getElementById("contact");
        const logout = document.getElementById("logout");

        dropdown.addEventListener("focus", () => {
            dropdownContent.style.display = "block";
        });
        dropdown.addEventListener("blur", () => {
            dropdownContent.style.display = "none";
        });

        account.addEventListener("click", () => {
            window.location.href = "/account";
        });
        contact.addEventListener("click", () => {
            window.location.href = "/contact";
        });
        logout.addEventListener("click", () => {
            window.location.href = "/logout";
        });

    </script>

</body>

</html>