<!--Add Task Popup-->
<div class="column align-center add-popup no-display">
    <div class="nav-height"></div>

    <div class="card">
        <h2 class="big-text">New Task</h2>
        <form method="post" name="add-task" action="/tasks?source=projects&id={{project._id}}"
            onsubmit="noMultipleSubmit(this)">

            <input name="owner" type="hidden" value="{{ username }}">

            <div class="form-label-input-div">
                <p class="label">Name</p>
                <input type="text" name="name" class="input-field mid-text" autocomplete="off" required>
            </div>
            <div class="form-label-input-div">
                <p class="label">Due Date</p>
                <input type="date" name="dueDate" class="input-field mid-text" required>
            </div>

            <input type="hidden" name="project" value="{{project._id}}">

            <div class="form-label-input-div">
                <p class="label">Priority</p>
                <div id="priority" class="flex row space-around align-center">
                    <div class="flex row checkbox">
                        <input type="checkbox" name="priority" value="Low">
                        <p class="label">Low</p>
                    </div>
                    <div class="flex row checkbox">
                        <input type="checkbox" name="priority" value="Medium">
                        <p class="label">Medium</p>
                    </div>
                    <div class="flex row checkbox">
                        <input type="checkbox" name="priority" value="High">
                        <p class="label">High</p>
                    </div>
                </div>
            </div>

            <div class="button-row">
                <button class="btn btn-primary mid-text">Add Task</button>
                <img src="/icons/cancel.svg" id="close-add-popup" class="cursor-pointer icon" alt="Cancel icon">
            </div>

        </form>
    </div>
</div>

{{#each project.tasks}}
<!--Update Task Popup-->
<div class="column align-center update-popup no-display" id="{{_id}}">
    <div class="nav-height"></div>

    <div class="card">
        <h2 class="big-text">Update Task</h2>
        <form method="post" name="update-task" action="/tasks/update?source=projects&id={{../project._id}}"
            onsubmit="noMultipleSubmit(this)">

            <input name="_id" type="hidden" value="{{_id}}">

            <div class="form-label-input-div">
                <p class="label">Name</p>
                <input type="text" name="name" class="input-field mid-text" autocomplete="off" value="{{name}}"
                    required>
            </div>
            <div class="form-label-input-div">
                <p class="label">Due Date</p>
                <input type="date" name="dueDate" class="input-field mid-text" value="{{dueDate}}" required>
            </div>

            <input type="hidden" name="project" value="{{../project._id}}">

            <div class="form-label-input-div">
                <p class="label">Priority</p>
                <div id="priority" class="flex row space-around align-center">
                    <div class="flex row checkbox">
                        {{#if (prioritySelected priority "Low")}}
                        <input type="checkbox" name="priority" value="Low" checked>
                        {{else}}
                        <input type="checkbox" name="priority" value="Low">
                        {{/if}}
                        <p class="label">Low</p>
                    </div>
                    <div class="flex row checkbox">
                        {{#if (prioritySelected priority "Medium")}}
                        <input type="checkbox" name="priority" value="Medium" checked>
                        {{else}}
                        <input type="checkbox" name="priority" value="Medium">
                        {{/if}}
                        <p class="label">Medium</p>
                    </div>
                    <div class="flex row checkbox">
                        {{#if (prioritySelected priority "High")}}
                        <input type="checkbox" name="priority" value="High" checked>
                        {{else}}
                        <input type="checkbox" name="priority" value="High">
                        {{/if}}
                        <p class="label">High</p>
                    </div>
                </div>
            </div>

            <div class="button-row">
                <button class="btn btn-primary mid-text">Update Task</button>
                <img src="/icons/cancel.svg" class="close-update-popup" class="cursor-pointer icon" alt="Cancel icon"
                    data-id="{{_id}}">
            </div>

        </form>
    </div>
</div>
{{/each}}

<div class="flex column">
    <div class="header-row flex row space-between align-center">
        <div class="flex row align-center">
            <form method="post" name="update-project" id="update-project" action="/projects/update?id={{project._id}}">
                <div class="flex row align-center">
                    <input name="_id" type="hidden" value="{{project._id}}">
                    <input name="name" type="text" id="project-name" class="input-field" autocomplete="off"
                        value="{{project.name}}">
                    <input type="image" class="icon checkmark-icon cursor-pointer no-display"
                        src="/icons/checkmark.svg">
                </div>
            </form>
        </div>
        <a class="flex justify-center align-center open-add-popup cursor-pointer purple">
            <img src="/icons/add-white.svg" class="icon" alt="Add task icon">
        </a>
    </div>

    <!--No Tasks Message-->
    {{#if message}}
    <div id="no-tasks" class="flex column align-center">
        <h1 class="big-text">{{message}}</h1>
        <img src="/assets/guy-with-guitar.png" alt="No Tasks Illustration">
    </div>

    {{else}}
    <!--Project's Tasks-->
    <div id="cards">
        {{#each project.tasks}}
        <div class="card cursor-pointer open-update-popup" data-id="{{_id}}">
            <div class="flex row space-between">
                <h3 class="mid-text">{{name}}</h3>
                {{#if priority}}
                    <p class="small-text priority">{{priority}} Priority</p>
                {{/if}}
            </div>
            <p class="small-text">{{dueDate}}</p>
            <div class="flex row space-between">
                <p class="small-text"></p>
                <a href="/tasks/delete/{{_id}}?source=projects&id={{../project._id}}"
                    onclick="noMultipleRedirect(this); event.stopPropagation();">
                    <img src="/icons/delete.svg" class="delete-icon" alt="Delete task icon">
                </a>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}

</div>

<script src="/scripts/projects-tasks.js" defer></script>
<script src="/scripts/tasks.js" defer></script>
<script src="/scripts/project.js" defer></script>
<script>
    document.addEventListener('click', function(event) {
        const projectNameInput = document.getElementById('project-name');
        const checkmarkIcon = document.querySelector('.checkmark-icon');

        if (projectNameInput && !projectNameInput.contains(event.target) && !checkmarkIcon.contains(event.target)) {
            projectNameInput.value = "{{project.name}}";
        }
    });
</script>