<!--Add Project Popup-->
<div class="column align-center add-popup no-display">

    <div class="nav-height"></div>

    <div class="card">
        <h2 class="big-text">New Project</h2>
        <form method="post" name="add-project" action="/projects">
            <input id="owner" name="owner" type="hidden" value="{{ username }}" />

            <div>
                <p class="label small-text">Name</p>
                <input type="text" id="name" name="name" class="input-field mid-text" autocomplete="off" required>
            </div>
            <div class="add-cancel-buttons center flex space-between align-center">
                <button class="mid-text">Add project</button>
                <img src="/icons/cancel.svg" id="close-add-popup" class="cursor-pointer icon">
            </div>

        </form>
    </div>
</div>

<!--No Projects Message-->
{{#if message}}
<div id="no-projects" class="flex column align-center">
    <h1 class="big-text">{{message}}</h1>
    <img src="/assets/guy-with-guitar.png">
    <p class="tiny-text">Try adding one</p>
    <a class="flex justify-center align-center open-add-popup cursor-pointer">
        <img src="/icons/add-black.svg" class="icon">
    </a>
</div>
{{else}}
<!--Projects-->
<div class="flex column">
    <div class="header-row flex row space-between align-center">
        <div class="flex row align-center">
            <h2 class="big-text">Projects</h2>
            <img src="/icons/sort.svg" class="icon">
        </div>
        <a class="flex justify-center align-center open-add-popup cursor-pointer purple">
            <img src="/icons/add-white.svg" class="icon">
        </a>
    </div>
    <div class="project-cards">
        {{#each projects}}
        <div class="card">
            <h3 class="mid-text">{{name}}</h3>
            <p class="small-text">Closest due date: </p>
            <a href="/project/delete/{{_id}}">Remove</a>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}

<script src="/scripts/projects-tasks.js"></script>