{{#if message}}
<div id="no-projects">
    <h1>{{message}}</h1>
    <img src="guy-with-guitar.png">
    <p class="tiny-text">Try adding one</p>
    <a class="add-button" href="/projects/add">
        <img src="add-icon.png">
    </a>
</div>
{{else}}
<h2>Projects
    <a href="/projects/add" class="btn btn-success pull-right">Add New Project</a>
</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Project №</th>
                <th scope="col">Project Name</th>
            </tr>
        </thead>
        <tbody>
            {{#each projects}}
            <tr>
                <th scope="row"><a href="/tasks?project={{prjNumber}}">{{prjNumber}}</a></th>
                <td><a href="/project/{{prjNumber}}">{{name}}</a></td>
                <td><a href="/project/delete/{{prjNumber}}" class="btn btn-danger">Remove</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}