<!--Add Project Popup-->
<div id="add-project-popup">

    <div class="nav-height"></div>

    <div class="card">
        <h2 class="big-text">New Project</h2>
        <form method="post" name="add-project" action="/projects">
            <input id="owner" name="owner" type="hidden" value="{{ username }}" />

            <div>
                <p class="label">Name</p>
                <input type="text" id="name" name="name" autocomplete="off" required>
            </div>
            <div class="button">
                <button>Add project</button>
                <img src="cancel-icon.svg" id="close-add-project-popup">
            </div>

        </form>
    </div>
</div>

<!--No Projects Message-->
{{#if message}}
<div id="no-projects">
    <h1>{{message}}</h1>
    <img src="guy-with-guitar.png">
    <p class="tiny-text">Try adding one</p>
    <a id="open-add-project-popup">
        <img src="add-icon.png">
    </a>
</div>
{{else}}
<!--Projects-->
<div id="projects">
    <div class="header-row align-center">
        <div class="flex-row align-center">
            <h2 class="big-text">Projects</h2>
            <img src="sort-icon.png" id="sort">
        </div>
        <a id="open-add-project-popup">
            <img src="add-icon-white.png">
        </a>
    </div>
    <div class="project-cards">
        {{#each projects}}
        <div class="card">
            <h3 class="mid-text">{{name}}</h3>
            <p class="small-text">Closest due date: </p>
            <a href="/project/delete/{{_id}}">Remove</a>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}

<script>
    const openPopup = document.getElementById('open-add-project-popup');
    const closePopup = document.getElementById('close-add-project-popup');
    const addProjectPopup = document.getElementById('add-project-popup');

    openPopup.addEventListener('click', () => {
        addProjectPopup.classList.add('active');
    });

    closePopup.addEventListener('click', () => {
        addProjectPopup.classList.remove('active');
    });
</script>