<!--Add Task Popup-->
<div class="column align-center add-popup no-display">
    <div class="nav-height"></div>

    <div class="card">
        <h2 class="big-text">New Task</h2>
        <form method="post" name="add-task" action="/tasks">
            <input id="owner" name="owner" type="hidden" value="{{ username }}" />

            <div>
                <p class="label small-text">Name</p>
                <input type="text" id="name" name="name" class="input-field mid-text" autocomplete="off" required>
            </div>
            <div>
                <p class="label small-text">Due Date</p>
                <input type="date" id="dueDate" name="dueDate" class="input-field mid-text" required>
            </div>
            <div>
                <p class="label small-text">Project</p>
                <select name="project" id="project" class="input-field mid-text">
                    {{#if projects}}
                    {{#each projects}}
                    <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                    {{/if}}
                </select>
            </div>

            <div>
                <p class="label small-text">Priority</p>
                <div id="priority" class="flex row space-around align-center">
                    <div class="flex row align-center justify-center">
                        <input class="checkbox" type="radio" name="priority" id="priority3" value="Low">
                        <p class="label small-text">Low</p>
                    </div>
                    <div class="flex row align-center justify-center">
                        <input class="checkbox" type="radio" name="priority" id="priority2" value="Medium">
                        <p class="label small-text">Medium</p>
                    </div>
                    <div class="flex row align-center justify-center">
                        <input class="checkbox" type="radio" name="priority" id="priority1" value="High">
                        <p class="label small-text">High</p>
                    </div>
                </div>
            </div>

            <div class="add-cancel-buttons center flex space-between align-center">
                <button class="mid-text">Add Task</button>
                <img src="/icons/cancel.svg" id="close-add-popup" class="cursor-pointer icon">
            </div>

        </form>
    </div>
</div>

<!--No Tasks Message-->
{{#if message}}
<div id="no-tasks" class="flex column align-center">
    <h1 class="big-text">{{message}}</h1>
    <img src="guy-with-guitar.png">
    <p class="tiny-text">Try adding one</p>
    <a class="flex justify-center align-center open-add-popup cursor-pointer">
        <img src="/icons/add-black.png" class="icon">
    </a>
</div>
{{else}}
<!--Tasks-->
<div class="flex column">
    <div class="header-row flex row space-between align-center">
        <div class="flex row align-center">
            <h2 class="big-text">Tasks</h2>
            <img src="/icons/sort.png" class="icon">
        </div>
        <a class="flex justify-center align-center open-add-popup cursor-pointer purple">
            <img src="/icons/add-white.png" class="icon">
        </a>
    </div>
    <div class="task-cards">
        {{#each tasks}}
        <div class="card">
            <h3 class="mid-text">{{name}}</h3>
            <p class="small-text">{{dueDate}}</p>
            <p class="small-text">{{project}}</p>
            <a href="/task/delete/{{_id}}">Remove</a>
        </div>
        {{/each}}
    </div>
</div>

<!---->
{{/if}}

<script>
    const openPopups = document.getElementsByClassName('open-add-popup');
    const closePopup = document.getElementById('close-add-popup');
    const addTask = document.getElementsByClassName('add-popup')[0];

    for (openPopup of openPopups) {
        openPopup.addEventListener('click', () => {
            addTask.classList.remove('no-display');
            addTask.classList.add('flex');
        });
    }

    closePopup.addEventListener('click', () => {
        addTask.classList.remove('flex');
        addTask.classList.add('no-display');
    });
</script>